<div class="sidebar p-3">

    <h3 class="text-center mb-4">
        SMS Panel
    </h3>

    {% if request.user.role == 'admin' %}

        <a href="{% url 'admin_dashboard' %}">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="{% url 'student_list' %}">
            <i class="bi bi-people"></i>
            Manage Students
        </a>

        <a href="{% url 'teacher_list' %}">
            <i class="bi bi-person-workspace"></i>
            Teachers
        </a>

        <a href="#">
            <i class="bi bi-calendar-check"></i>
            Attendance
        </a>

    {% elif request.user.role == 'teacher' %}

        <a href="{% url 'teacher_dashboard' %}">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="#">
            <i class="bi bi-book"></i>
            Subjects
        </a>

        <a href="#">
            <i class="bi bi-calendar-check"></i>
            Attendance
        </a>

    {% elif request.user.role == 'student' %}

        <a href="{% url 'student_dashboard' %}">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="#">
            <i class="bi bi-person"></i>
            My Profile
        </a>

        <a href="#">
            <i class="bi bi-book"></i>
            Results
        </a>

    {% endif %}

</div>