<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_list</title>
</head>
<body>
    {% extends 'base.html' %}

{% block title %}
Students
{% endblock %}

{% block content %}

<div class="card card-box p-4">

    <div class="d-flex justify-content-between mb-3">
        <h3>Student List</h3>

        <a href="#" class="btn btn-primary">
            Add Student
        </a>
    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.user.username }}</td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.phone }}</td>

                <td>
                    <a href="#" class="btn btn-warning btn-sm">Edit</a>
                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}
</body>
</html>