<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_details</title>
</head>
<body>
    {% extends 'base.html' %}

{% block title %}
Student Details
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow-lg border-0 rounded-4">

        <div class="card-header bg-primary text-white">

            <h3>
                Student Details
            </h3>

        </div>

        <div class="card-body">

            <table class="table table-bordered">

                <tr>
                    <th>ID</th>
                    <td>{{ student.id }}</td>
                </tr>

                <tr>
                    <th>Name</th>
                    <td>{{ student.student_name }}</td>
                </tr>

                <tr>
                    <th>Username</th>
                    <td>{{ student.user.username }}</td>
                </tr>

                <tr>
                    <th>Roll Number</th>
                    <td>{{ student.roll_num }}</td>
                </tr>

                <tr>
                    <th>Class</th>
                    <td>{{ student.student_class }}</td>
                </tr>

                <tr>
                    <th>Phone</th>
                    <td>{{ student.phone }}</td>
                </tr>

                <tr>
                    <th>Address</th>
                    <td>{{ student.address }}</td>
                </tr>

                <tr>
                    <th>Date Of Birth</th>
                    <td>{{ student.date_of_birth }}</td>
                </tr>

            </table>

            <a href="{% url 'student_list' %}" class="btn btn-secondary">

                Back

            </a>

            <a href="{% url 'student_update' student.id %}" class="btn btn-warning">

                Edit

            </a>

        </div>

    </div>

</div>

{% endblock %}
</body>
</html>