{% extends 'base.html' %}

{% block title %}
Add Teacher
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="card shadow-lg border-0 p-4 rounded-4">

        <h2 class="mb-4">
            Add Teacher
        </h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">

                Add Teacher

            </button>

            

        </form>

    </div>

</div>

{% endblock %}