<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_dashboard</title>
</head>
<body>
    {% extends 'base.html' %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Admin Dashboard
</h2>

<div class="row">

    <div class="col-md-4 mb-4">
        <div class="card card-box p-4 bg-primary text-white">
            <h5>Total Students</h5>
            <h2>
            {{ total_students }}
            </h2>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card card-box p-4 bg-success text-white">
            <h5>Total Teachers</h5>
            <h2>
                {{ total_teachers }}
            </h2>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card card-box p-4 bg-danger text-white">
            <h5>Total Admin</h5>
            <h2>
                {{ total_admins }}
            </h2>
        </div>
    </div>

</div>

{% endblock %}
</body>
</html>