<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher_dashboard</title>
</head>
<body>
    {% extends 'base.html' %}

{% block title %}
Teacher Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Teacher Dashboard
</h2>

<div class="card card-box p-4">

    <h4>
        Welcome Teacher
    </h4>

    <p>
        Manage attendance, subjects and students.
    </p>

</div>

{% endblock %}
</body>
</html>