
    {% extends 'base.html' %}

{% block title %}
Student Dashboard
{% endblock %}

{% block content %}

<div class="container-fluid">

    <h2 class="mb-4">
        Student Dashboard
    </h2>

    <div class="card shadow-lg border-0 p-4 rounded-4">

        <div class="d-flex justify-content-between align-items-center mb-4">

            <div>

                <h3 class="fw-bold">
                    Welcome {{ student.user.username }}
                </h3>

                <p class="text-muted mb-0">
                    Student Information Panel
                </p>

            </div>

            <div>
                <i class="bi bi-mortarboard-fill fs-1 text-primary"></i>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-6 mb-3">

                <div class="card p-3 shadow-sm">

                    <h6 class="text-muted">
                        Full_Name
                    </h6>

                    <h5>
                        {{ student.student_name }}
                    </h5>

                </div>

            </div>

            <div class="col-md-6 mb-3">

                <div class="card p-3 shadow-sm">

                    <h6 class="text-muted">
                        Roll Number
                    </h6>

                    <h5>
                        {{ student.roll_num }}
                    </h5>

                </div>

            </div>

            <div class="col-md-6 mb-3">

                <div class="card p-3 shadow-sm">

                    <h6 class="text-muted">
                        Class
                    </h6>

                    <h5>
                        {{ student.student_class }}
                    </h5>

                </div>

            </div>

            <div class="col-md-6 mb-3">

                <div class="card p-3 shadow-sm">

                    <h6 class="text-muted">
                        Phone Number
                    </h6>

                    <h5>
                        {{ student.phone }}
                    </h5>

                </div>

            </div>

            <div class="col-md-6 mb-3">

                <div class="card p-3 shadow-sm">

                    <h6 class="text-muted">
                        Email Address
                    </h6>

                    <h5>
                        {{ student.user.email }}
                    </h5>

                </div>

            </div>

            <div class="col-md-6 mb-3">

                <div class="card p-3 shadow-sm">

                    <h6 class="text-muted">
                        Date Of Birth
                    </h6>

                    <h5>
                        {{ student.date_of_birth }}
                    </h5>

                </div>

            </div>

            <div class="col-md-6 mb-3">

                <div class="card p-3 shadow-sm">

                    <h6 class="text-muted">
                        Account Created
                    </h6>

                    <h5>
                        {{ student.created_at }}
                    </h5>

                </div>

            </div>

            <div class="col-12 mb-3">

                <div class="card p-3 shadow-sm">

                    <h6 class="text-muted">
                        Address
                    </h6>

                    <h5>
                        {{ student.address }}
                    </h5>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}

